* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #040120;
}
@keyframes background {
  100% {
    background-size: 4000px 1000px;
  }
}
body {
  background-color: #92e000;
  background-image: url("shiny.svg");
  background-size: 1800px 700px;
  background-position: -500px 0;
  animation: background 10s infinite alternate linear;
}
.wrapper {
  /* background-color: #ffffff; */
  width: 45%;
  min-width: 550px;
  padding: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  background: rgba(53, 51, 51, 0.373);
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.564);
}
.output {
  background-color: #d2d2d2ee;
  width: 100%;
  min-height: 250px;
  padding: 20px 0;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: grid;
  place-items: center;
  border: rgb(97, 97, 97) solid 1px;
}
#blob {
  height: 300px;
  width: 300px;
  background: linear-gradient(#92e000, #2aa10f);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.15);
}
.dimensions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0 40px 0;
}
label {
  font-weight: 500;
}
input[type="number"] {
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #92e000;
  border-radius: 3px;
}
input[type="number"]:focus {
  background-color: #d2d2d2ee;
  border-color: #92e000;
  color: #2aa10f;
}
.sliders {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  accent-color: green;
}
input[type="text"] {
  width: 82%;
  margin-top: 50px;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  background-color: #d2d2d2ee;
  border-radius: 20px;
}
button {
  width: 12%;
  margin-left: 4%;
  padding: 10px 0;
  background-color: green;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}
button:active {
  transform: translatey(-3%);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}

/* Created by: Shahzaib Memon */
